:root {
    --back: #2b0245;
    --motive: #feb93f;
}
::selection { background-color: var(--back); color: var(--motive); }
html { scroll-behavior: smooth; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
body { margin: 0; padding: 0; }
/*
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--motive);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--back);
  border-radius: 10px;
}*/




header { 
    display: flex; 
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1620121684840-edffcfc4b878?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80); /*https://cdn.pixabay.com/photo/2021/10/09/07/37/maisan-provincial-park-6693310_960_720.jpg*/
    background-size: cover;
    transition: all .5s;

}
/*header:hover {
    background-position-y: -50px;
}*/
header div h1.title { 
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/*    background-color: red;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;*/
    color: var(--motive);
    text-shadow: 0 0 15px var(--back);
    cursor: pointer;
    transition: all .5s;
}
header div h1.title:hover { 
    font-size: 65px;
}
header div span.sub {
    margin: 25px 200px;
    cursor: pointer;
    transition: all .5s;
}
